[submodule "references/argocd"]
	path = references/argocd
	url = https://github.com/argoproj/argo-cd.git
[submodule "references/trpc"]
	path = references/trpc
	url = https://github.com/trpc/trpc.git
[submodule "references/trpc-to-openapi"]
	path = references/trpc-to-openapi
	url = https://github.com/mcampa/trpc-to-openapi.git
[submodule "references/openai-node"]
	path = references/openai-node
	url = https://github.com/openai/openai-node.git
[submodule "references/fastify"]
	path = references/fastify
	url = https://github.com/fastify/fastify.git
